body {
  background-image: url(../IMG/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

@font-face {
  font-family:"Orbitron-black";
  src:url("fonts/Orbitron/Orbitron-black.ttf");
}

@font-face {
  font-family:"Orbitron-regular";
  src:url("fonts/Orbitron/Orbitron-regular.ttf");
}

@font-face {
  font-family:"Orbitron-medium";
  src:url("fonts/Orbitron/Orbitron-medium.ttf");
}

@font-face {
  font-family:"Orbitron-bold";
  src:url("fonts/Orbitron/Orbitron-bold.ttf");
}

.EmulStar {
  position: relative;
  left:25%;
  margin: auto;
  width: 50%;
}

nav {
  background-color: rgb(128,128,128,.7);
  width: 100%;
}

.category {
  padding: 0;
}

.regli {
  float: right;
}

.categorytitle {
  margin-right: 35px;
}

.M {
  list-style: none;
  margin: auto;
}

.searchimg, .reg {
  width: 30px;
}

.search, .c {
  display: none;
}

.categorytitle, .ep {
  font-size: 25px;
  font-family:"Orbitron-bold";
  text-decoration: none;
  color: black;
}

ul li {
  display: inline-block;
}

h2 {
  font-family: "Orbitron-regular";
  font-size: 45px;
  text-align: center;
  background-color: rgb(128,128,128,.7);
  width: 500px;
  height: 60px;
  margin: auto;
  margin-top: 25px;
}

.compra {
  font-family: "Orbitron-regular";
  color: white;
  margin-top: 0;
  margin-bottom: 25px;
  margin-left: 25%;
  margin-right: 25%;
  background-color: rgb(0, 0, 0, .7);
  text-align: left;
  padding: 25px;
}

.input {
  text-align: center;
}

#cantidad {
  width: 150px;
}

.name {
  margin-bottom: 50px;
}

#tipo-envio{
  display: none;
}

.listaPrecio{
  text-align: center;
  background-color: rgb(0, 0, 0, .7);
  padding: 25px;
  margin: auto;
  margin-top: 25px;
  width: 50%;
}

.total {
  font-size: 30px;
}

.buttons {
  text-align: center;
  margin-top: 25px;
}

.button {
  font-family: "Orbitron-bold";
  font-size: 25px;
  width: 250px;
  height: 100px;
  background-color:  rgb(128,128,128,.7);
  border-color:  rgb(128,128,128,.7);
  font-style: none;
}

.comprarbutton {
  margin-bottom: 25px; 
}

footer {
  font-family: "Orbitron-regular";
  font-size: 30px;
  width: 100%;
  height: 100px;
  text-align: center;
  padding-top: 50px;
  background-color: rgba(0, 0, 0, .7);
  margin-top: 25px;
  position: relative;
  bottom: 0;
}

footer a{
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 650px){
  .M {
    text-align: center;
    padding-right: 18%;
    padding-left: 18%;
  }

  .regli {
    float: none;
    padding-left: 25%;
    padding-right: 25%;
  }

  .category {
    width: 150px;
  }
  h2 {
    margin: auto;
    margin-top: 25px;
    font-size: 35px;
    width: 200px;
  }

  .compra {
    margin-left: 15%;
    margin-right: 15%;
  }

}
